# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/

# IDEs
.idea/

# System files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp
*.bak
*.swp
*.csv
*.tsv
*.json

# Environment secrets
.env
*.secret
.env.test
tests/.env.test
.dockerignore

